[submodule "modules/RTT"]
	path = modules/RTT
	url = https://github.com/SEGGERMicro/RTT.git
[submodule "modules/tinyusb"]
	path = modules/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "modules/tinycrypt"]
	path = modules/tinycrypt
	url = https://github.com/intel/tinycrypt.git
[submodule "modules/mcuboot"]
	path = modules/mcuboot
	url = https://github.com/mcu-tools/mcuboot.git
